{% import "JiabinHolterBundle:Base:macros.html.twig" as macros %}
{% set subtitle = block('subtitle')|raw %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="HolterApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="HolterApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="HolterApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="HolterApp"> <!--<![endif]-->
    <head>
        {% include "JiabinHolterBundle:Partial:head.html.twig" %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body ng-controller="HolterCtrl">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="wrap">

            <div class="container">
                {% include "JiabinHolterBundle:Partial:navbar.html.twig" %}

                {{ macros.flashes() }}

                {% block body %}{% endblock %}
            </div>

        </div>

        {% include "JiabinHolterBundle:Partial:footer.html.twig" %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
