{% import "JiabinHolterBundle:Base:macros.html.twig" as macros %}
{% set subtitle = block('subtitle')|raw %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="HolterApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="HolterApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="HolterApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="HolterApp"> <!--<![endif]-->
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{{ title|default('Holter') }}{% endblock %}</title>
        <meta name="description" content="This page reports on known incidents affecting offered services">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}

        <link rel="stylesheet" href="/components/normalize-css/normalize.css">
        <link rel="stylesheet" href="/components/html5-boilerplate/css/main.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.4.0/codemirror.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.4.0/theme/solarized.css">
        <link rel="stylesheet" href="/bundles/jiabinholter/css/main.css">
        <script src="/components/modernizr/modernizr.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
        {% block stylesheets %}{% endblock %}
        {% endblock %}
    </head>
    <body ng-controller="HolterCtrl">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="wrap">

            <div class="container">
                {% include "JiabinHolterBundle:Partial:navbar.html.twig" %}

                {{ macros.flashes() }}

                {% block body %}{% endblock %}
            </div>

        </div>

        {% include "JiabinHolterBundle:Partial:footer.html.twig" %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
