<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}{{ config.title|default('Holter') }}{% endblock %}</title>
<meta name="description" content="This page reports on known incidents affecting offered services">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block meta %}{% endblock %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.4.0/codemirror.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.4.0/theme/solarized.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.tablecloth/1.0.0/css/bootstrap-tables.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.tablecloth/1.0.0/css/tablecloth.css">
<link rel="stylesheet" href="/bundles/jiabinholter/css/main.css">