/* Emphasis
-------------------------------------------------- */

.text-good {
    color: #27ae60;
}

.text-minor {
    color: #f39c12;
}

.text-major {
    color: #c0392b;
}

.text-unknown {
    color: #7f8c8d;
}

/* Alerts
-------------------------------------------------- */

.alert-good {
    background-color: #27ae60;
    border-color: #27ae60;
    color: #ecf0f1;
}

.alert-minor {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #ecf0f1;
}

.alert-major {
    background-color: #c0392b;
    border-color: #c0392b;
    color: #ecf0f1;
}

.alert-unknown {
    background-color: #7f8c8d;
    border-color: #7f8c8d;
    color: #ecf0f1;
}

/* Badges
-------------------------------------------------- */

.badge-good {
    background-color: #27ae60;
}

.badge-minor {
    background-color: #f39c12;
}

.badge-major {
    background-color: #c0392b;
}

.badge-unknown {
    background-color: #7f8c8d;
}

/* Panels
-------------------------------------------------- */

.panel-belize {
    border-color: #ddd;
}

.panel-belize > .panel-heading {
    background-color: #2980b9;
    color: #ecf0f1;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
}

#footer .container {
    border-top: 1px solid #eee;
}

#footer .text-muted {
    font-size: 11px;
    margin: 5px 0;
}

/* Custom page CSS
-------------------------------------------------- */

.container {
    max-width: 800px;
}

.page-header > h2 > a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.huge-icon {
    font-size: 100px;
}

/* Form signin
-------------------------------------------------- */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Tables
-------------------------------------------------- */

.table-curved {
   border-collapse: separate;
   border: solid #ccc 1px;
   border-radius: 6px;
   border-left: 0px;
   border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ccc 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved > :first-child > :first-child > :first-child {
    border-radius: 6px 0 0 0;
}
.table-curved > :first-child > :first-child > :last-child {
    border-radius: 0 6px 0 0;
}
.table-curved > :last-child > :last-child > :first-child {
    border-radius: 0 0 0 6px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-radius: 0 0 6px 0;
}